.page-list {

}

.page-list__item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $border-color-light;
  line-height: 3rem;
  text-align: left;
}

.page-list__item__meta {
  text-align: right;
  min-width: 170px;
  width: 170px;
}

.page-list__item__date {
  color: $text-color-light;
  margin-left: 1rem;
}
