// PADDINGS
$container-padding: 1rem;

// COLORS
$primary-color: #397275;

$bg-color-post: #fdfdfd;
$bg-color-main: #e9eeec;
$bg-color-sidebar: $primary-color;

$text-color-post: #343434;
$text-color-main: #333444;
$text-color-sidebar: #f7f7f7;
$text-color-light: #999;
$text-color-outside: #ababab;

$border-color-light: #ccc;

// BREAKPOINTS
$breakpoint-desktop: 930px;
